<ion-header>
    <ion-toolbar>
      <ion-title>Editar Almacenadora</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    
    <br>
  
      <ion-label padding> Código* </ion-label> <br>
      <ion-input clearInput padding [(ngModel)]="almacenadora2.codigo">  </ion-input>
    
        <ion-label padding> Descripción*</ion-label><br>
        <ion-input clearInput padding [(ngModel)]="almacenadora2.descripcion"> </ion-input>
      
  
  
       
    
    
  
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button shape="round" color="success" (click)="editarAlmacenadora()">Aceptar</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="danger" (click)="cerrarModal()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    
    
  
  </ion-content>