<ion-header>
    <ion-toolbar>
      <ion-title>Elminar Almacenadora</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <h1>¡Seguro que deseas eliminar el registro!</h1>
        
    
  
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button shape="round" color="success" (click)="eliminarAlmacenadora()">Aceptar</ion-button>
        </ion-col>
        <ion-col>
            <ion-button shape="round" color="danger" (click)="cerrarModal()">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    
    
  
  </ion-content>